<ion-view view-title="{{currentList.name==undefined?'':currentList.name}}" ng-click="hideHits()"> 
<ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
</ion-nav-buttons>

<ion-content>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-arrow-right placeholder-icon"></i>
    <input type="text" placeholder="Add item" ng-model="form.addInput" ng-change="complete(form.addInput,$event)">
  </label> 
  <a class="button button-icon icon ion-ios-plus" ng-click="addItem(form.addInput);form.addInput=undefined"></a>
</div>
 <ul class="list list-inset" ng-show="hits.length >0" style="margin-top: 4px">
 	<div class="item item-divider item-icon-right">
            <b><small>History</small></b>
  	</div>
    <li class="item" ng-repeat="hit in hits" ng-click="addItem(hit.name);hits=undefined">
      	<h2>{{hit.name}}</h2>
    </li>
 </ul>

<ion-list show-delete="deleteEnabled" show-reorder="true" >                 
          
  <ion-item ng-repeat="item in items track by $index" class="item-icon-left" >
  
    <a class="icon ion-ios-checkmark-outline enable-pointer-events" ng-click="toChartItem($index)" ></a>
    <h2>{{item.name}}</h2>
    
    <ion-delete-button class="ion-minus-circled" ng-click="deleteItem($index)"></ion-delete-button>
    <ion-reorder-button class="ion-navicon"
    	on-reorder="moveItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>

  </ion-item>
</ion-list>

<ion-list show-delete="deleteEnabled" show-reorder="true" >                 
       
    <div class="item item-divider item-icon-right">
            <b>Items in your chart</b>
  	</div>
  <ion-item class="item" ng-show="!purchasedItems.length">
    <div>No items in your chart yet!</div>
  </ion-item>
          
  <ion-item ng-repeat="item in purchasedItems track by $index" class="item-icon-left" ng-click="selectItem(item)">
    <a class="icon ion-ios-checkmark enable-pointer-events" ng-click="undoToChartItem($index)" ></a>
    <h2>{{item.name}}</h2>
  </ion-item>
</ion-list>
  
</ion-content> 
</ion-view>

<script id="menu-popover.html" type="text/ng-template">
  <ion-popover-view class="fit">
    <ion-content>
     <div class="list list-inset">
		<div class="item" ng-click="tolledgeDelete()">
    		Delete items
  		</div>
		<div class="item" href="#">
    		Edit list
  		</div>
  		<a class="item" href="#/app/settings" ng-click="popover.hide()">
    		Settings
  		</a>
	</div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="hint-popover.html" type="text/ng-template">
  <ion-popover-view class="fit">
    <ion-content>
     <ul class="list">
    	<li class="item" ng-repeat="hit in hits">
      		<i>{{hit.name}}</i>
    	</li>
  	 </ul>
    </ion-content>
  </ion-popover-view>
</script>
