<ion-view view-title="Shopping List > {{selectedList.name}}" ng-controller="ListCtrl"> 
<ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-trash-b" ng-click="tolledgeDelete()"></button>
</ion-nav-buttons>

<ion-content>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-arrow-right placeholder-icon"></i>
    <input type="text" placeholder="Dodaj artikel" ng-model="addInput">
  </label> 
  <a class="button button-icon icon ion-ios-plus" ng-click="addItem(addInput);addInput=undefined"></a>
</div>


<ion-list show-delete="deleteEnabled" show-reorder="true">                 
          
  <ion-item ng-repeat="item in items track by $index" class="item-avatar" >
    <img src="products/{{item.image}}" height="40px">
    <h2>{{item.title}}</h2>
    <ion-option-button class="button-positive"
                       ng-click="share(item)">
      Share
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="deleteItem($index)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(item, $fromIndex, $toIndex)">
    </ion-reorder-button>

  </ion-item>
</ion-list>

 
</ion-content> 
</ion-view>
