/* Empty. Add your own CSS if you like */
ion-popover-view.fit {
	height: auto !important;
}

ion-popover-view.fit ion-content {
	position: relative !important;
}

.platform-android ion-popover-view.fit {
	margin-top: 0px !important;
}

.menu-header {
	height: 60px;
	background-color: #4d94ff;
	margin-bottom: 10px
}

.bar.bar-stable{
	background-color: #4d94ff;
}



.bar.bar-stable .title, .bar-stable .button, .bar-stable .button.button-clear{
	 color: white;
}